
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#my-video {
  width: 100%;
  height: auto;
  background-color: #eee;
}

#their-video {
  width: 100%;
  height: auto;
  /*max-height: 480px;*/
  background-color: #eee;
}

#video-container {
  text-align: center;
}

#step1-error, #step2, #step3 {
  display: none;
}
#my-id {
  font-weight: bold;
}

